
.container{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    background-color: antiquewhite;
}

.contentContainer{
    display: flex;
}

.container img{
    
    width:fit-content;
    height: 550px;
}



.textContainer{
    width: fit-content;
    padding: 30px;
    overflow: hidden;
    background-color: rgb(109, 126, 126);
}

.contentContainer h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infoButton{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(171, 184, 207);
    border: none;
}