.Container{
    margin: 10px 25px;
    overflow: hidden;
    background-color: rgb(94, 116, 116);
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgb(160, 158, 167),
    -7px -7px 15px rgb(232, 232, 238);
}

.products{
    width: 280px;
    height: 280px;

}

.Container h3{
    margin: 15px 20px 10px;
}
.Container p{
    width: fit-content;
    padding: 8px 20px;
    border-radius: 5px;
}

.counterSection{
    display: flex;
    align-items: center;
    margin: 5px;
}

.counterSection img{
    background-color: rgb(165, 178, 201);
    width: 25px;
    border-radius: 5px;
    padding: 5px;
    margin: 7px;
    cursor: pointer;
}

.counterSection span{
    padding: 5px;
    font-weight: bold;
}

.deactive{
    opacity: 0.4;
}

@media (max-width: 768px){
    .Container{
        margin: 20px;
    }

    .products{
        width: 350px;
        height: 350px;
    }

    .counterSection{
        justify-content: end;
        padding: 10px;
    }

    .counterSection img{
        width: 40px;
    }
    .counterSection span{
        font-size: 20px;
    }
}

@media (min-width:769px) and (max-width: 1024px){
    .counterSection{
        justify-content: end;
        padding: 10px;
    }

    .counterSection img{
        width: 40px;
    }

}