

.header{
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: rgb(94, 116, 116);
    height: 130px;
    width: 100%;
}

.firstList, .secondList{
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.secondList li {
    font-size: 0.7rem;
    
}

.listShopping{
    position: absolute;
    left: 100px;
    top: 100px;
}

.listContainer{
    position: absolute;
  right: 100px;
  bottom: 100px;
}

.firstList li, .secondList li{
    padding: 0 15px;
    color: rgb(202, 222, 238);
}


.firstList li:hover , .secondList li:hover {
    color: #fff;
    transition: all .3s ease-in;
}

.productsNavbar{
    width: 100%;
}

.thirdList {
   display: flex;
   align-items: center;
    list-style-type: none;
    background-color: aliceblue;
   height: 50px; 
}

.thirdList li{
   padding-left: 30px;
    font-size: 0.9rem;
    position: relative;
    left: 85px;
    cursor: pointer;
   
}

.logo{
    position: absolute;
  
width: 250px;
  padding: 10px 0;
}

.responsiveMenu{
    display: none;
}

@media (min-width: 481px) and (max-width: 768px){

    .firstList li{
        display: none;
    }

    .secondList li{
        display: none;
    }

    .thirdList {
        display: none;
    }

    .responsiveMenu{
        display:block;
        width: 100%;
        text-align: center;
        background: rgb(94, 116, 116);
    }

    .responsiveMenu li{
        padding: 20px 0;
        font-weight: 600;
        cursor: pointer;
    }
   

}