.Container {
    text-align: center;
    width: 100%;
}


.socialLogos img{
  display:flexbox;
  align-items: center;
  width: 35px;
  margin: 10px;
  cursor: pointer;
}

.socialText{
    font: italic bold 20px/30px Georgia, serif;
}

.tipsText{
    font-size: 15px;
}

@media (max-width: 768px){
    .socialLogos img{
        width: 50px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .socialLogos img {
        width: 60px;
    }
}